<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" href="#">Institucional</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Galeria</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Menu</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Promociones</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/ListaEmpleados']" >Listado</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contacto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/Login']">Ingresar</a>
  </li>
</ul>